BasedOnStyle: LLVM

# Constructor init lists
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

# Layout & indentation
BreakBeforeBraces: Allman
IndentWidth: 4
ColumnLimit: 100

# Function calls
BinPackArguments: false
AllowAllArgumentsOnNextLine: false

# Function declarations
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false

AllowShortFunctionsOnASingleLine: Empty

NamespaceIndentation: All
