# Ignore the build directory
/build/
/.vscode/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.spv

# debug information files
*.dwo

# CodeQL build directories
/_codeql_build_dir/
/_codeql_detected_source_root

# Downloaded library files (not part of original repo)
/libs/glfw/CMake/GenerateMappings.cmake
