# Ignore the build directory
/build/
/.vscode/
summary.py
summary.txt
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.spv
*.cmake
!shaders/compile.cmake
!libs/glfw/CMake/GenerateMappings.cmake

# debug information files
*.dwo

# Python cache files
__pycache__/
*.pyc
.pytest_cache/

# Python virtual environment
.venv/
